<div class="row offer-tabs">
   <div class="col-md-12 text-center py-4">
      <p  class="img-desc   text-lightblack text-center mb-2">Follow Instagram</p>
   </div>
  <!-- <div class="col-md-12 ">
      <img src="assets/images/imgprt14.png" class="insta-img">
      <img src="assets/images/imgprt8.png" class="insta-img">
      <img src="assets/images/imgprt9.png" class="insta-img">
      <img src="assets/images/imgprt10.png" class="insta-img">
      <img src="assets/images/imgprt11.png" class="insta-img">
      <img src="assets/images/imgprt12.png" class="insta-img">
      <img src="assets/images/imgprt13.png" class="insta-img">
      <img src="assets/images/imgprt15.png" class="insta-img">
   </div> -->

<div class="col-md-12">
<div class="row">
      <div class="col px-0"> 
            <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="gallery__thumb">
                  <a href="#" >
                     <img src="assets/images/imgprt8.png" alt="gallery images">  
                  </a> 
               </div>
               <div class="gallery__hover__inner">
                  <div class="gallery__hover__action">
                     <ul class="gallery__zoom"> 
                     </ul>
                     <h4 class="gallery__title"><a href="#" class="snmalltxt">Creating Funny Things</a></h4>
                  </div> 
               </div>
            </div>	
         </div>	

      <div class="col px-0">
            <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="gallery__thumb">
                  <a href="#">
                     <img src="assets/images/imgprt9.png" alt="gallery images">  
                  </a>
               </div>
               <div class="gallery__hover__inner">
                  <div class="gallery__hover__action">
                     <ul class="gallery__zoom"> 
                     </ul>
                     <h4 class="gallery__title"><a href="#" class="snmalltxt"> Creating Funny Things</a></h4>
                  </div>
               </div>
            </div>	
         </div>	

      <div class="col px-0">
            <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="gallery__thumb">
                  <a href="#">
                     <img src="assets/images/imgprt10.png" alt="gallery images">  
                  </a>
               </div>
               <div class="gallery__hover__inner">
                  <div class="gallery__hover__action">
                     <ul class="gallery__zoom"> 
                     </ul>
                     <h4 class="gallery__title"><a href="#" class="snmalltxt">Creating Funny Things</a></h4>
                  </div>
               </div>
            </div>	
         </div>	
      <div class="col px-0">
            <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="gallery__thumb">
                  <a href="#">
                     <img src="assets/images/imgprt11.png" alt="gallery images">  
                  </a>
               </div>
               <div class="gallery__hover__inner">
                  <div class="gallery__hover__action">
                     <ul class="gallery__zoom"> 
                     </ul>
                     <h4 class="gallery__title"><a href="#" class="snmalltxt">Creating Funny Things</a></h4>
                  </div>
               </div>
            </div>	 
         </div>	
            <!--change-->
      <div class="col px-0">
            <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="gallery__thumb">
                  <a href="#">
                     <img src="assets/images/imgprt12.png" alt="gallery images">  
                  </a>
               </div> 
               <div class="gallery__hover__inner">
                  <div class="gallery__hover__action">
                     <ul class="gallery__zoom"> 
                     </ul>
                     <h4 class="gallery__title"><a href="#" class="snmalltxt">Creating Funny Things</a></h4>
                  </div>
               </div>
            </div>	 
         </div>
         <div class="col px-0">
               <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <div class="gallery__thumb">
                     <a href="#">
                        <img src="assets/images/imgprt13.png" alt="gallery images">  
                     </a>
                  </div>
                  <div class="gallery__hover__inner">
                     <div class="gallery__hover__action">
                        <ul class="gallery__zoom"> 
                        </ul>
                        <h4 class="gallery__title"><a href="#" class="snmalltxt">Creating Funny Things</a></h4>
                     </div>
                  </div>
               </div>	 
            </div>
         <div class="col px-0">
               <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                  <div class="gallery__thumb">
                     <a href="#">
                        <img src="assets/images/imgprt15.png" alt="gallery images">  
                     </a>
                  </div>
                  <div class="gallery__hover__inner">
                     <div class="gallery__hover__action">
                        <ul class="gallery__zoom"> 
                        </ul>
                        <h4 class="gallery__title"><a href="#" class="snmalltxt">Creating Funny Things</a></h4>
                     </div>
                  </div>
               </div>	  
            </div>
   </div> 
</div>
 


</div>
<div class="row px-md-5 py-md-5 footer">
   <div class="col-md-3 pt-5">
      <p class="footer-link-head">About Us</p>
      <p class="footer-sub-txt">In 1996, a dedicated educator
         from New York, Sinok Park,
         founded The Best Kindergarten
         for working parents in New York
         metropolitan area.
      </p>
   </div>
   <div class="col-md-3 pt-5 col-6">
      <p class="footer-link-head">Quick Links</p>
      <div class="footer-sub-txt">Our Kindergarten</div>
      <div class="footer-sub-txt">Latest News</div>
      <div class="footer-sub-txt">Upcoming Events</div>
      <div class="footer-sub-txt">Contacts</div>
   </div>
   <div class="col-md-3 pt-5 col-6">
      <p class="footer-link-head">Keep In Touch</p>
      <div class="footer-sub-txt">YouTube</div>
      <div class="footer-sub-txt">Twitter</div>
      <div class="footer-sub-txt">Instagram</div>
      <div class="footer-sub-txt">Snapchat</div>
   </div>
   <div class="col-md-3 pt-5">
      <p class="footer-link-head">Contact Us</p>
      <div class="footer-sub-txt "><i class="fa fa-map-marker footer-ico"></i>19, 29th St, Nanganallur, Chennai, Tamil Nadu 600061</div>
      <div class="footer-sub-txt pt-md-3"><i class="fa fa-phone footer-ico"></i>099520 06993</div>
      <div class="footer-sub-txt pt-md-3"><i class="fa fa-envelope footer-ico"></i>chiselmontessori@gmail.com</div>
      <div class="footer-sub-txt pt-md-3"><i class="fa fa-globe footer-ico"></i>Website: <a href="http://www.chiselmontessori.com/">http://chisel Montessori school.com</a></div>
   </div>
   <div class="col-md-12 pt-md-5">
      <img src="assets/images/logo.png" class="footer-logo">
     <!-- <p class="copyright">Privacy Policy <span class="copy-right-txt">/ This is a sample website - cmsmasters © 2019 / All Rights Reserved</span></p> --> 
   </div>
</div>
 