

<div class="row header">  
  <div class="col-md-4 col-6 text-md-right "><i class="fa fa-map-marker pr-1"></i>No :19,29th St, Nanganallur, Chennai, Tamil Nadu 600061</div>
  <div class="col-md-4 col-6"><i class="fa fa-phone pr-1"></i> 099520 06993</div>
  <div class="col-md-4 col-12 text-xs-center "><a href="https://www.facebook.com/chiselmontessorinanganallur/"><i class="fa fa-facebook pr-2"></i></a><i class="fa fa-linkedin pr-2"></i><i class="fa fa-google-plus pr-2"></i><i class="fa fa-twitter pr-2"></i><i class="fa fa-youtube-play pr-2"></i></div>
</div>
 
<div class="header-outer-side">
<div class="header-main-contentt"> 
<nav class="navbar navbar-expand-lg navbar-light    headline"> 
  <a class="navbar-brand font-weight-bold txt-nav pl-md-5" href="#">
     <img class="logo-img" src="assets/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent"> 
     <ul class="navbar-nav"> 
        <li class="nav-item mr-2 my-2">
           <a routerLink="/"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}" class="nav-link "  >Home</a>
        </li>
        <li class="nav-item mr-2 my-2">
           <a routerLink="/class"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}" class="nav-link"  >Classrooms</a>
        </li>
        <li class="nav-item mr-2 my-2">
           <a class="nav-link"  routerLink="/event"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}">Gallery</a>
        </li>
        <li class="nav-item mr-2 my-2">
           <a class="nav-link" routerLink="/about"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}">About Us</a>
        </li>
        <li class="nav-item mr-2 my-2">
         <a class="nav-link" routerLink="/blog"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}">Blog</a>
      </li>
        <li class="nav-item mr-2 my-2">
           <a class="nav-link" routerLink="/contact"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}">Contact  Us</a>
        </li>

        <li class="nav-item mr-2 my-2">
         <a class="nav-link" routerLink="/ourteam"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}">Our team</a>
      </li>
        
      <li class="nav-item mr-2 my-2">
         <a class="nav-link" routerLink="/admission"  [routerLinkActive]="['active1']" [routerLinkActiveOptions]="{exact: true}">Admission</a>
      </li>
        
     </ul> 
  </div>
</nav>
</div> 
