
<div class="container-fluid px-md-0">  
 
   <app-header></app-header>
   
   <div class="row">
     <div class="col-md-12 text-center pg-title-img  aboutusimg">
         <p class="pg-title mb-0">About Us</p>
      </div>
      </div>
      <div class="row text-center pt-md-5 ml-md-5 mr-md-1" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">  
       <div class="col-md-6 pl-md-5 cont-img1 zoom">
       </div>
       <div class="col-md-6  px-0 pl-3 pr-5"> 
          <p class="img-desc pt-0 text-lightblack mb-0">About us</p>
          <p class="text-lightblack pt-1 mb-0">We, at Chisel provide a child centric program from that allows the child to explore their own personalities encouraging them to find their own true talent. We give these young children time and space to explore child under the care of highly dedicated Montessori trained teachers in a very specialised environment, designed around the child.
             
          </p>
          <p class="text-lightblack pt-1 mb-0"> The indoor and outdoor environment encourages the children to grow their social interest by giving them freedom to move within limits, and structure to concentrate and challenge themselves with lots of engaging activities which is made of natural materials keeping in our mind child’s sensitive periods. </p>
   
          <p class="text-lightblack pt-1">
          We have created a co- dependent system wherein children learn from each other by observing elder children and getting guidance from them meanwhile getting an opportunity to guide younger ones. We trust, respect and follow the child to suit his/ her needs to become motivated learners, who can self-evaluate.
            </p>

          <button class="shedule-btn" routerLink="/contact">Contact Us</button>  
       </div>
        <!--<div class="col-md-2"></div> -->
    </div>
    
   
    <div class="row text-center" data-aos="zoom-in" data-aos-offset="100" data-aos-duration="1500">
      <div class="col-md-12 mb-4 ">  
         <p  class="img-desc pt-4  text-lightblack text-center">About the Teachers</p>
         <div class="sub-txt-techer techh">We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</div>
      </div>      
       
     <div class="col-md-1"></div>
      <div class="col-md-3 teacher-wrp px-md-3 offset-1 pl-md-5 ml-5">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch4" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt pt-1 text-lightblack">Alice Bohm</div>
            <div   class="act-txt-sub text-lightblack ">Senior Educator-Staff</div>
         </div>
      </div>
      <div class="col-md-3 teacher-wrp px-md-3  pl-md-5"> 
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch5" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt text-lightblack">Alice Bohm</div>
            <div   class="act-txt-sub text-lightblack ">Music Teacher-Staff</div>
         </div>
      </div>
      <div class="col-md-3 teacher-wrp px-md-3  pl-md-5">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch6" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt text-lightblack">Max Turner</div>
            <div   class="act-txt-sub text-lightblack ">Art Teacher-Staff</div>
         </div>
      </div>      
   

      
      
      <div class="col-md-12 text-center py-md-3">
     
      </div>
   </div>  


   <!--
   <div class="row  text-center" data-aos="zoom-in" data-aos-offset="500" data-aos-duration="3000">
      <div class="col-md-12 mb-4 ">
         <p  class="img-desc pt-4 pb-1     text-lightblack text-center">About the Teachers</p>
         <div class="sub-txt-techer techh">We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</div>
      </div>
      <div class="col-md-1 ml-md-5"></div>
      <div class="col-md-3 teacher-wrp px-md-3">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch1" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt pt-1 text-lightblack">Alice Bohm</div>
            <div   class="act-txt-sub text-lightblack ">Senior Educator-Staff</div>
         </div>
      </div>
      <div class="col-md-3 teacher-wrp px-md-3">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch2" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt text-lightblack">Alice Bohm</div>
            <div   class="act-txt-sub text-lightblack ">Music Teacher-Staff</div>
         </div>
      </div>
      <div class="col-md-3 teacher-wrp px-md-3">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch3" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt text-lightblack">Max Turner</div>
            <div   class="act-txt-sub text-lightblack ">Art Teacher-Staff</div>
         </div>
      </div>
      <div class="col-md-1"></div>
     
   </div> -->





   
   
    <div class="row text-center pt-md-4 ml-md-5" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500">
   
     <div class="col-md-6  px-5 pl-md-3">
        <p class="img-desc pt-5 text-lightblack">Our Mission for Kindergarten</p>
        <p class="text-lightblack pt-1">We have created a co- dependent system wherein children learn from each other by observing elder children and getting guidance from them meanwhile getting an opportunity to guide younger ones. We trust, respect and follow the child to suit his/ her needs to become motivated learners, who can self-evaluate.</p>
   
     </div>  
     <div class="col-md-5 pl-md-5 cont-img-info zoom">
     </div>
        <!--<div class="col-md-2"></div> -->
   </div>
   
   <!--
   <div class="row text-center px-5 py-3 count-wrap1 text-light numberanimate">
     <div class="col-md-2"> </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_01.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info"  data-count="450">0</div>
        <p class="sub-txt-count">CHILDREN A YEAR</p>
     </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_02.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info" data-count="68">0</div>
        <p class="sub-txt-count">QUALIFIED TEACHERS</p>
     </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_03.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info" data-count="349">0</div>
        <p class="sub-txt-count">ACTIVITIES A YEAR</p>
     </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_04.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info" data-count="12">0</div>
        <p class="sub-txt-count">FROM TWELVE MONTHS</p>
     </div>
     <div class="col-md-2"> </div>
   </div>  -->


   
   <app-footer></app-footer>
   </div> 
    