<div class="container-fluid px-md-0"> 
    <app-header></app-header> 
    <div class="row">
      <div class="col-md-12 text-center pg-title-img  admissionimg" > 
            <p class="pg-title">Admission</p>   
         </div> 
  <!--  
    <div class="row px-md-5 " data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500"> 
     
       <div class="col-md-6 mt-2 " >
          <img class="tod-img" src="../../assets/images/lndscp17.png" >  
       </div>
       <div class="col-md-6 text-center px-5 py-3">
          <p class="tod-main-txt text-lightblack pt-md-5">TODDLER MONTESSORI</p> 
          <p class="tod-age-txt">12 months - 23 months</p>
          <p class="tod-sub-txt text-lightblack px-md-5">A First step to school…so unsure of what it is leaving behind their only known world “parents”, a child moves in, with a huge emotional change. What do we give them in return for their courage?</p>
            <p class="tod-sub-txt text-lightblack px-md-5">Our first answer - a warm welcome, with an open hand filled with loads of love and the rest follows when they get settled.</p>
         </div>
       <div class="col-md-6 acc-cont">
          <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
          <div id="accordion">
             <div class="card">
                <div class="card-header">
                   <a class="card-link" data-toggle="collapse" href="#collapseOne">
                     Self- help skills
                   </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                     Hand and eye coordination
                     - Rolling mats
                     - Holding and carrying equipments on their own 
                     - Sense of balance and orderliness
                     - Keeping their environment clean and much more 
 
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                     Sensorial activities
                   </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                     Learning through sense organs, using touch, smell, taste, sight and sounds which is encouraged through basic materials.
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                     Language skills
                   </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                     Improving vocabulary and diction along with sound and speech correlation. 
                   </div>
                </div>
             </div>
          </div>
       </div> 
       <div class="col-md-6">
          <img class="tod-img img-left" src="../../assets/images/lndscp12.png"> 
       </div>
  
 </div>
 
 
     <div class="row px-md-5 "  data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500"> 
 
        <div class="col-md-6 ">
           <img class="tod-img" src="../../assets/images/lndscp14.png">  
        </div>
        
 
        
        <div class="col-md-6 text-center px-5 py-3">
           <p class="tod-main-txt text-lightblack"> PRIMARY MONTESSORI/ CASA</p>
           <p class="tod-age-txt">2 1/2 and 6 years </p> 
           <p class="tod-sub-txt text-lightblack px-md-5">Now that our children are little grown-ups, ready to explore and learn from their immediate elders and friends with the help of their absorbent mind, we intend to offer them a more independent mixed age group environment which beholds children between the age group of 2 1/2 and 6 years with the same facilitator for the three year program.</p>
        </div>
   
        <div class="col-md-6 acc-cont">
           <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
           <div id="accordion2">  
              <div class="card"> 
                 <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne1">
                    Social Skills
                    </a>
                 </div>
                 <div id="collapseOne1" class="collapse" data-parent="#accordion2">
                    <div class="card-body">
                     -	Refining senses
                     -	Everyday living
                     -	Art and Craft
                     -	Cultural science (learn about the world we live)
                     -	Perform interactive science experiments like observing growth of plants, learning about their parts and many more
                     </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo2">
                    Self-Help Skills
                    </a>
                 </div>
                 <div id="collapseTwo2" class="collapse" data-parent="#accordion2">
                    <div class="card-body">
                     -	Geometry is introduced as a pattern recognition through sensorial activities
                     -	Nature walk:- we encourage children to connect and blend themselves to nature and listen to its calls.
                     -	House visits:- children understand the concept of society, adapt and accept people from all walks of life
                     -	Music and Dance:- the most expressive form of a soul is an inevitable part of our environment
                                         </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree3">
                    Communicative Skills
                    </a>
                 </div>
                 <div id="collapseThree3" class="collapse" data-parent="#accordion2">
                    <div class="card-body">
                     -	 Language development is aided by enrichment of vocabulary, phonetics,  writing and reading skills
                     -	Arithmetic : children are introduced to the concepts of measurement through exercise to practical life activities, later on seeing their sensitivity period the adult in the environment introduces the child to math activities through an array of scientific materials which follow an order of developmental succession.
                     </div> 
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <img class="tod-img img-left" src="../../assets/images/lndscp8.png"> 
        </div>
  
 
 
     </div>
     <div class="row px-md-5 " data-aos="fade-left" data-aos-offset="0" data-aos-duration="1500">
 
      
        <div class="col-md-6 ">
           <img class="tod-img" src="../../assets/images/lndscp5.png"> 
        </div>
        <div class="col-md-6 text-center px-5 py-3">
           <p class="tod-main-txt text-lightblack">ELEMENTARY ENVIRONMENT</p>
           <p class="tod-age-txt">6 years - 12 years</p> 
           <p class="tod-sub-txt text-lightblack px-md-5">The multi-age Montessori Elementary classroom comprises children between age group 6- 12 years encouraging social development with an adult who moderates the process.  Elementary children are interested in reasons, explanations, and the perspective of time; they love grand ideas and lofty concepts— the bigger, the better and are eager to explore. Keeping their physiological and psychological needs in mind the adult offers them individualized and small group lessons and projects.</p>
        </div>
        <div class="col-md-6 acc-cont"> 
           <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
           <div id="accordion3"> 
              <div class="card">
                 <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne4">
                    Social Skills
                    </a>
                 </div>
                 <div id="collapseOne4" class="collapse" data-parent="#accordion3">
                    <div class="card-body">
                     Beyond building the child’s skills in reading, mathematics and writing, Elementary lessons help the children to discover the interconnectedness of knowledge and life on earth through cosmic education through variety of activities which leads in abstraction of concepts.                    </div>
                 </div> 
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo4">
                    Self-Help Skills
                    </a>
                 </div>
                 <div id="collapseTwo4" class="collapse" data-parent="#accordion3">
                    <div class="card-body">
                     Cooking, physical education, pottery, theatre arts, art and crafts, weaving comes as an integral part of elementary curriculum at Chisel helping the child to find his own interest.                    </div>
                 </div> 
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree4">
                    Communicative Skills
                    </a>
                 </div>
                 <div id="collapseThree4" class="collapse" data-parent="#accordion3">
                    <div class="card-body">
                     Dr. Maria Montessori wanted this age children to be introduced to everything in the universe so that by the time they entered adolescence they would have a solid understanding of where they were in terms of place, time and culture; and they would be ready for the adolescent work of finding the role they are to play in the development of life</div>
                 </div>
              </div>
           </div> 
        </div>
        <div class="col-md-6">
           <img class="tod-img img-left" src="../../assets/images/lndscp6.png">
        </div>
 
     </div>-->

     <div class="col-md-12 text-center admission-wrp py-md-5"    data-aos="fade-down" data-aos-offset="100" data-aos-duration="3000"> 
           <div class="col-md-12" data-aos-offset="200" data-aos="flip-left"  data-aos-easing="ease-out-cubic" data-aos-duration="3000">
         <p   class="img-desc pt-5 mt-5 text-light">What About Admission ?</p>
         <p   class="month-text"><span class="calluss mr-2">Call Us</span> <span class="number">9838927232</span></p>
         <button  class="more-inf mt-3 mb-3" [routerLink]=" ['./contact']">Admisssion open</button> 
      </div> 
      <div class="col-md-4"></div>
   </div>


   
 </div>
    <app-footer></app-footer>
 </div>
    