<div class="container-fluid px-md-0">  

   <app-header></app-header>
   
   <div class="row mb-3">
       <div class="col-md-12 text-center pg-title-img  blogimg">  
           <p class="pg-title">From The Blog</p>
        </div>
   </div>
   <div class="row text-center pt-md-4 px-md-5">
     
       <div class="col-md-6 text-lightblack text-md-left pl-md-5" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500"> 
          <img src="assets/images/b3.jpg" class="blog_img">  
          <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 6, 2018 <i class="fa fa-edit"></i></div>
          <div class="blog-txt2">historical evidences of krishnas life</div> 
          <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
          <div class="blog-txt1 pt-2 pb-2">Talking about historical evidences of krishnas life to the bigger ones, also letting them wonder whether whatever they hear in the history is true or not through Chinese whisper game .., cute little Radhas and krishnas singing and dancing along , and playing the famous uriyadi , in our own child friendly way , and competing to eat the chaklis ( Muruku) made by their brothers and sisters in elementary , who also decorated the entire school with Maavilai thoranam , and beautiful rangoli.., wow it really was a colourful day !!!</div>
         <!-- <div class="lean-more-blog">Learn More</div> -->
       </div>
       <div class="col-md-6 text-lightblack text-md-left pr-md-5" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500">
          <img src="assets/images/c2.jpg" class="blog_img"> 
          <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 27, 2018<i class="fa fa-edit"></i></div>
          <div class="blog-txt2">madras week</div>
          <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
          <div class="blog-txt1 pt-2 pb-2">Today was all about being a part of madras week and getting to know why , when , how and other whereabouts and what abouts of madras , thanks to mrs. Debjani bahaduri mam for her wonderful child friendly story session about history of Madras right on the walls of fort, and the most famous landmark - Marina. But you all know what , while we explored a lot about the history , we also got to see an isthmus( landform near Coovum river) , understood why we should never litter, read big numbers and names on every sign board while walking 🙂 we wish every child in the world a very happy learning now and forever</div>
        <!--  <div class="lean-more-blog">Learn More</div> -->
       </div>
    </div>
    <hr class="border-cont">
    <div class="row text-center pt-md-4 px-md-5" >
    
       <div class="col-md-6 text-lightblack text-md-left pl-md-5"    data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
          <img src="assets/images/i11.jpg" class="blog_img"> 
          <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 6, 2018 <i class="fa fa-edit"></i></div>
          <div class="blog-txt2">independence day</div>
          <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
          <div class="blog-txt1 pt-2 pb-2">Elementary — what do we say about it in a word 🙂 age of grandeur, they are always up to something that we can never expect .. so for us it was not just an independence day, it was a day were they wanted to show to the world that they are proud to be Indians .., they read in a book that when a person achieves something for the first time or something which no one else has achieved , it’s a proud moment for their country , and that they hoist national flag there, and there it all got started, they climbed up a nearest hill which they never have trekked before and sang national anthem</div>
        <!--  <div class="lean-more-blog">Learn More</div>  -->
       </div>
       <div class="col-md-6 text-lightblack text-md-left pr-md-5" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500">
          <img src="assets/images/w1.jpg" class="blog_img">  
          <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 27, 2018<i class="fa fa-edit"></i></div>
          <div class="blog-txt2">workshop</div> 
          <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
          <div class="blog-txt1 pt-2 pb-2">Inspired by a workshop that we teachers attended , we extended the same to our parents , to help them understand how children read and write in a Montessori elementary classroom where there is no rote writing nor there is any prescribed text books , so it all started very beautifully the discussions started on choosing the work , how to organise , data collection , time management, acceptance , tolerance , self learning , build confidence and their team work helped them to keep going till the end ( Final presentation) .</div>
        <!--  <div class="lean-more-blog">Learn More</div>  -->
       </div>
    </div>
    
   <app-footer></app-footer>
   
   </div> 
   