<div class="container-fluid px-md-0"> 
   <app-header></app-header> 
   <div class="row">
       <div class="col-md-12 text-center pg-title-img  classroomimg" >
           <p class="pg-title">Classroom</p>
        </div>

   <div class="row ml-md-3 px-md-5 " data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500">
 
     <!-- <div class="same row px-4" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500"> -->
      <div class="col-md-6 mt-2 " > 
         <img class="tod-img" src="../../assets/images/lndscp17.png" >   
      </div>
      <div class="col-md-6 text-center px-5 py-3">
         <p class="tod-main-txt text-lightblack pt-md-5">TODDLER MONTESSORI</p> 
         <p class="tod-age-txt">12 months - 23 months</p>
         <p class="tod-sub-txt text-lightblack px-md-0">A First step to school…so unsure of what it is leaving behind their only known world “parents”, a child moves in, with a huge emotional change. What do we give them in return for their courage?</p>
           <p class="tod-sub-txt text-lightblack px-md-5">Our first answer - a warm welcome, with an open hand filled with loads of love and the rest follows when they get settled.</p>
        </div>
     <!-- </div> -->

     <!--  <div class="same row px-4" data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500">-->
      <div class="col-md-6 acc-cont">
         <p class="tod-main-txt text-lightblack">We gradually introduce them to</p>
         <div id="accordion">
            <div class="card">
               <div class="card-header">
                  <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Self- help skills
                  </a>
               </div>
               <div id="collapseOne" class="collapse show" data-parent="#accordion">
                  <div class="card-body">
                    Hand and eye coordination
                    - Rolling mats
                    - Holding and carrying equipments on their own 
                    - Sense of balance and orderliness
                    - Keeping their environment clean and much more 

                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Sensorial activities
                  </a>
               </div>
               <div id="collapseTwo" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    Learning through sense organs, using touch, smell, taste, sight and sounds which is encouraged through basic materials.
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Language skills
                  </a>
               </div>
               <div id="collapseThree" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    Improving vocabulary and diction along with sound and speech correlation. 
                  </div>
               </div>
            </div>
         </div>
      </div> 
      <div class="col-md-6">
         <img class="tod-img img-left" src="../../assets/images/lndscp12.png"> 
      </div>
 <!--  </div> -->
</div>


    <div class="row px-md-5 ml-md-3"  data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500"> 

      <!--   <div class="same row px-4" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500"> -->
       <div class="col-md-6 ">
          <img class="tod-img" src="../../assets/images/lndscp14.png">  
       </div>
       

       
       <div class="col-md-6 text-center px-5 py-3">
          <p class="tod-main-txt text-lightblack"> PRIMARY MONTESSORI/ CASA</p>
          <p class="tod-age-txt">2 1/2 and 6 years </p> 
          <p class="tod-sub-txt text-lightblack px-md-0">Now that our children are little grown-ups, ready to explore and learn from their immediate elders and friends with the help of their absorbent mind, we intend to offer them a more independent mixed age group environment which beholds children between the age group of 2 1/2 and 6 years with the same facilitator for the three year program.</p>
          <p class="tod-sub-txt text-lightblack px-md-0">The environment consists of self-correcting materials developed by Dr. Maria Montessori, kept in the reaching range of children allowing them free access.</p>

         </div>
  <!--    </div>  -->


    <!--  <div class="same row px-4" data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500"> -->
       <div class="col-md-6 acc-cont">
          <p class="tod-main-txt text-lightblack">The methodology focuses on</p>
          <div id="accordion2">  
             <div class="card"> 
                <div class="card-header">
                   <a class="card-link" data-toggle="collapse" href="#collapseOne1">
                     Children allowing them free access
                   </a> 
                </div>
                <div id="collapseOne1" class="collapse show" data-parent="#accordion2">
                   <div class="card-body">
                    -	Refining senses
                    -	Everyday living
                    -	Art and Craft
                    -	Cultural science (learn about the world we live)
                    -	Perform interactive science experiments like observing growth of plants, learning about their parts and many more
                    -   Language development is aided by enrichment of vocabulary, phonetics, writing and reading skills 
                  </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo2">
                  	Concepts of measurement 
                   </a>
                </div>
                <div id="collapseTwo2" class="collapse" data-parent="#accordion2">
                   <div class="card-body">
                     	Arithmetic: Children are introduced to the concepts of measurement through exercise of practical life activities. Looking at their sensitivity period the facilitator introduces the child to math activities through an array of scientific materials which follow an order of developmental succession.
                     	Geometry is introduced as a pattern recognition through sensorial activities
                     
                                        </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree3">
                     we encourage children to connect 
                   </a>
                </div>
                <div id="collapseThree3" class="collapse" data-parent="#accordion2">
                   <div class="card-body">
                        -	Nature walk:- we encourage children to connect and blend themselves to nature and listen to its calls.
                        -	House visits:- children understand the concept of society, adapt and accept people from all walks of life
                        -	Music and Dance:- the most expressive form of a soul, is an inevitable part of our environment
                        
                    </div> 
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <img class="tod-img img-left" src="../../assets/images/lndscp8.png"> 
       </div>
     <!-- </div> -->



    </div>
    <div class="row px-md-5 ml-md-3" data-aos="fade-left" data-aos-offset="0" data-aos-duration="1500">

       <!--  <div class="same row px-4" data-aos="fade-right" data-aos-offset="0" data-aos-duration="1500">-->
       <div class="col-md-6 ">
          <img class="tod-img" src="../../assets/images/lndscp5.png"> 
       </div>
       <div class="col-md-6 text-center px-5 py-3">
          <p class="tod-main-txt text-lightblack">ELEMENTARY ENVIRONMENT</p>
          <p class="tod-age-txt">6 years - 12 years</p> 
          <p class="tod-sub-txt text-lightblack px-md-5">The multi-age Montessori Elementary classroom comprises children between age group 6- 12 years encouraging social development with an adult who moderates the process.  Elementary children are interested in reasons, explanations, and the perspective of time; they love grand ideas and lofty concepts— the bigger, the better and are eager to explore. Keeping their physiological and psychological needs in mind the adult offers them individualized and small group lessons and projects.</p>
       </div>
     <!-- </div> -->


     <!--  <div class="same row px-4" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500"> -->
       <div class="col-md-6 acc-cont"> 
          <p class="tod-main-txt text-lightblack">Montessori Elementary classroom comprises </p>
          <div id="accordion3"> 
             <div class="card">
                <div class="card-header">
                   <a class="card-link" data-toggle="collapse" href="#collapseOne4">
                     Discover the interconnectedness of knowledge 
                   </a>
                </div>
                <div id="collapseOne4" class="collapse show" data-parent="#accordion3">
                   <div class="card-body">
                    Beyond building the child’s skills in reading, mathematics and writing, Elementary lessons help the children to discover the interconnectedness of knowledge and life on earth through cosmic education through variety of activities which leads in abstraction of concepts.                    </div>
                </div> 
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo4">
                     Elementary curriculum at Chisel 
                   </a>
                </div>
                <div id="collapseTwo4" class="collapse" data-parent="#accordion3">
                   <div class="card-body">
                         Cooking, physical education, pottery, theatre arts, art and crafts, weaving comes as an integral part of elementary curriculum at Chisel helping the child to find his own interest.   
                         Dr. Maria Montessori wanted this age children to be introduced to everything in the universe, so that by the time they enter adolescence they would have a solid understanding of where they are, in terms of place, time and culture
                        </div>
                </div> 
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree4">
                     Children to be introduced to everything in the universe
                   </a>
                </div>
                <div id="collapseThree4" class="collapse" data-parent="#accordion3">
                   <div class="card-body">
                        The elementary adults at chisel follow this to the core and empower children to find the answers to their own questions beyond the classroom materials through going out trips which also meets the need of the Elementary child to be social and to collaborate.
                        Here children are agents to their own education…
                                          
                  </div>
                </div>
             </div>
          </div> 
       </div>
       <div class="col-md-6">
          <img class="tod-img img-left" src="../../assets/images/lndscp6.png">
       </div>
       <!-- </div> -->

    </div>
   <!-- <div class="row px-md-5 ">

       <div class="col-md-6 ">
          <img class="tod-img" src="../../assets/images/class7.jpg">
       </div>
       <div class="col-md-6 text-center px-5 py-3">
          <p class="tod-main-txt text-lightblack">Pre-Kindergarteners</p>
          <p class="tod-age-txt">4 years - 5 years</p>
          <p class="tod-sub-txt text-lightblack px-md-5">Infant classroom offers strategies for building positive relationships, helping children develop self-regulation and responding to challenging behaviors in a sanitized and safe environment.</p>
       </div>
       <div class="col-md-6 acc-cont">
          <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
          <div id="accordion4"> 
             <div class="card">
                <div class="card-header">
                   <a class="card-link" data-toggle="collapse" href="#collapseOne5">
                   Social Skills
                   </a>
                </div>
                <div id="collapseOne5" class="collapse" data-parent="#accordion4">
                   <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo5">
                   Self-Help Skills
                   </a>
                </div>
                <div id="collapseTwo5" class="collapse" data-parent="#accordion4">
                   <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree5">
                   Communicative Skills
                   </a>
                </div>
                <div id="collapseThree5" class="collapse" data-parent="#accordion4">
                   <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <img class="tod-img img-left" src="../../assets/images/ch1.jpg">
       </div>
    </div> -->
</div>
   <app-footer></app-footer>
</div>
 