<div class="container-fluid px-md-0">
 
  <app-header></app-header>
  
  <div class="row">
  <div class="col-md-12 text-center pg-title-img mb-3 contactusimag">
    <p class="pg-title contactwhite">Contact-us</p>
  </div>
  </div>
  
  <div class="container-fluid">
  <div class="row "> 
  <div class="col-md-12 pt-2 px-md-5"><p class="ctct-title text-lightblack">Get In Touch!</p></div>
  
  <div class="col-md-6 pt-2 px-md-5">
  <div class="label-txt text-lightblack mb-4">Your Name<span class="imp">*</span><div><input class="ctct-inp"></div></div>
  <div class="label-txt text-lightblack mb-4">Your Email<span class="imp">*</span><div><input class="ctct-inp"></div></div>
  <div class="label-txt text-lightblack mb-4">Your Phone<span class="imp">*</span><div><input class="ctct-inp"></div></div>
  <div class="label-txt text-lightblack pb-1">Message<span class="imp">*</span></div>
    <textarea class="ctct-txtarea"></textarea>
   <div class="sendmsg my-3"> <button class="submit-btn">Send Message</button> </div>
  </div>
  <div class="col-md-6 pt-2">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15551.189599279543!2d80.1900499!3d12.9848064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6b11ebd19b6a40d!2sChisel%20Montessori%20School!5e0!3m2!1sen!2sin!4v1568723555881!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  
    </div>
  </div>
  <!--<div class="col-md-12 pt-2 pb-4 px-md-5"><button class="submit-btn">Send Message</button></div>-->
  
  </div>
  </div>
  <app-footer></app-footer>
  
  </div> 
  