<div class="container-fluid">  
   <app-header></app-header>
   <div class="row">
      <div class="col-md-12 text-center pg-title-img  gallerypageimg">
         <p class="pg-title">Gallery</p>
      </div>
   </div>

   <div class="offer-tabs">
         <div class="gallr-section">
         <div class="container-fluid">    
            <div class="row">
              <!-- <div class="text-center img-desc py-4 text-lightblack">Gallery</div> -->
               <div class="text-center tab-pull-right py-5">
                  <ul class="nav nav-tabs galryul" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active galerytext" data-toggle="tab" href="#home">Our Facilities</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link galerytext" data-toggle="tab" href="#menu1">Our Staff</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link galerytext" data-toggle="tab" href="#menu2">Events</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link galerytext" data-toggle="tab" href="#menu3">Activities</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link galerytext" data-toggle="tab" href="#menu4">Tour</a> 
                     </li> 
                  </ul>
         <div class="tab-content bg-light">
           <div id="home" class=" tab-pane active   text-left">
             <div class="container-fluid py-5">
               <div class="row">
                  <div data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500" class="col-md-8 mb-4" >  
                     <div class="blackimg">
                     <img class="galrimg" alt="gallery images" src="../assets/images/lndscp14.png">   
                     <div class="overlay"></div>
                     <div class="text">Chisel Evolve yourself</div>  
                     </div>
                  </div>
                  <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500">
                     <div class="blackimg">
                        <img class="galrimg" alt="gallery images" src="../assets/images/imgprt6.png">   
                        <div class="overlay"></div>
                        <div class="text">Chisel Evolve yourself</div>
                     </div>
                  </div>
                  <div class="col-md-4 mb-4" 
                  data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500">
                     <div class="blackimg">
                        <img class="galrimg" alt="gallery images" src="../assets/images/imgprt5.png">  
                        <div class="overlay"></div>
                        <div class="text">Chisel Evolve yourself</div>
                     </div>
                  </div>
                  <div class="col-md-8 mb-4" data-aos="fade-left" data-aos-offset="100" data-aos-duration="1500"> 
                  <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/lndscp15.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                     </div>  
                  </div>
               </div>
            </div> 
         </div>

            <div id="menu1" class=" tab-pane fade   text-left">
               <div class="container-fluid py-5">
                  <div class="row">
                     <div class="col-md-8 mb-4" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1500">  
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/lndscp5.png">
                           <div class="overlay"></div> 
                           <div class="text">Chisel Evolve yourself</div>  
                        </div>   
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/imgprt7.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/imgprt1.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                        </div>
                       </div>
                        <div class="col-md-8 mb-4"> 
                        <div class="blackimg">
                              <img class="galrimg" alt="gallery images" src="../assets/images/lndscp6.png">
                              <div class="overlay"></div>  
                              <div class="text">Chisel Evolve yourself</div>
                        </div>  
                     </div>
                  </div>
               </div> 
            </div>

            <div id="menu2" class=" tab-pane fade  text-left">
               <div class="container-fluid py-5">
                  <div class="row">
                     <div class="col-md-8 mb-4">  
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/lndscp1.png">
                           <div class="overlay"></div> 
                           <div class="text">Chisel Evolve yourself</div>  
                        </div>   
                      </div>
                     <div class="col-md-4 mb-4">
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/imgprt13.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/imgprt11.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                          </div>
                        </div>
                        <div class="col-md-8 mb-4"> 
                           <div class="blackimg">
                              <img class="galrimg" alt="gallery images" src="../assets/images/lndscp9.png"> 
                              <div class="overlay"></div>
                              <div class="text">Chisel Evolve yourself</div>
                        </div>  
                     </div>
                  </div>
               </div> 
            </div>

            <div id="menu3" class=" tab-pane fade  text-left">
               <div class="container-fluid py-5">
                  <div class="row">
                     <div class="col-md-8 mb-4">  
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/lndscp16.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>  
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/imgprt3.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/imgprt4.png">
                           <div class="overlay"></div> 
                           <div class="text">Chisel Evolve yourself</div>
                        </div>
                     </div>
                     <div class="col-md-8 mb-4"> 
                       <div class="blackimg">
                           <img class="galrimg" alt="gallery images" src="../assets/images/lndscp11.png">
                           <div class="overlay"></div>
                           <div class="text">Chisel Evolve yourself</div>
                       </div>  
                      </div>
                  </div>
               </div> 
            </div>

               <div id="menu4" class=" tab-pane fade  text-left">
                  <div class="container-fluid py-5">
                      <div class="row">
                        <div class="col-md-8 mb-4">  
                           <div class="blackimg">
                              <img class="galrimg" alt="gallery images" src="../assets/images/lndscp10.png">
                              <div class="overlay"></div>
                              <div class="text">Chisel Evolve yourself</div>  
                           </div>
                        </div>
                        <div class="col-md-4 mb-4">
                           <div class="blackimg">
                              <img class="galrimg" alt="gallery images" src="../assets/images/imgprt1.png">
                              <div class="overlay"></div>
                              <div class="text">Chisel Evolve yourself</div>
                           </div>
                        </div>
                        <div class="col-md-4 mb-4">
                              <div class="blackimg">
                              <img class="galrimg" alt="gallery images" src="../assets/images/imgprt7.png">
                              <div class="overlay"></div>
                              <div class="text">Chisel Evolve yourself</div>
                              </div>
                           </div>
                           <div class="col-md-8 mb-4">  
                              <div class="blackimg">
                                 <img class="galrimg" alt="gallery images" src="../assets/images/lndscp11.png">
                                 <div class="overlay"></div>
                                 <div class="text">Chisel Evolve yourself</div>
                              </div> 
                           </div>
                        </div>
                     </div> 
                   </div>
                  </div>
               </div>
            </div>
           </div>
          </div>
         </div>
   
<!--
 <div class="container-fluid py-5">
     <div class="row">
         <div class="col-md-8">
            <div class="overlay"></div>
               <img class="galrimg img-fluid" alt="gallery images" src="../assets/images/ch3.jpg">
         </div>
         <div class="col-md-4">
               <img class="galrimg img-fluid" alt="gallery images" src="../assets/images/i1.jpg">
         </div>
         <div class="col-md-4">
               <img class="galrimg img-fluid" alt="gallery images" src="../assets/images/i4.jpg">
            </div>
            <div class="col-md-8">
                  <img class="galrimg img-fluid" alt="gallery images" src="../assets/images/class5.jpg">
               </div>

     </div>
  </div>  -->
  
  <!--<div class="row">
      <div class="col-md-4">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center imagefit fadeInUp ftco-animated" style="background-image: url(images/iwant.jpg);">  
              <div class="overlay"></div>
              <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
              <div class="text text-center p-4">
                  <h3><a href="#">iWANT</a></h3>
                  <span>Web Design</span>
              </div>
          </div>
        </div>  
        <div class="col-md-8">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center imagefit fadeInUp ftco-animated" style="background-image: url(images/shilfer.jpg);background-size: 100% 100%;">  
              <div class="overlay"></div>
              <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
              <div class="text text-center p-4">
                  <h3><a href="#">Shilfer</a></h3>
                  <span>Web Design</span>
              </div>
          </div>
        </div>

      <div class="col-md-8">
          <div class="project img ftco-animate d-flex justify-content-center align-items-center imagefit fadeInUp ftco-animated" style="background-image: url(images/esperto.jpg);background-size: 100% 100%;">
              <div class="overlay"></div> 
              <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
              <div class="text text-center p-4">
                  <h3><a href="#">Esperto</a></h3>
                  <span>Web Design</span>
              </div>
          </div>

          <div class="project img ftco-animate d-flex justify-content-center align-items-center imagefit fadeInUp ftco-animated" style="background-image: url(images/workingbee.jpg);background-size: 100% 100%;"> 
              <div class="overlay"></div>
              <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
              <div class="text text-center p-4">
                  <h3><a href="#">WorkingBEE</a></h3>
                  <span>Web Design</span>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="row">
              <div class="col-md-12">
                  <div class="project img ftco-animate d-flex justify-content-center align-items-center imagefit fadeInUp ftco-animated" style="background-image: url(images/clickmyauto.jpg);">   
                      <div class="overlay"></div>
                      <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
                      <div class="text text-center p-4">
                          <h3><a href="#">Click My Auto</a></h3> 
                          <span>Web Design</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="project img ftco-animate d-flex justify-content-center align-items-center imagefit fadeInUp ftco-animated" style="background-image: url(images/myotic.jpg);"> 
                      <div class="overlay"></div>
                      <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
                      <div class="text text-center p-4">
                          <h3><a href="#">Myoitc</a></h3>
                          <span>Web Design</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> --> 
   


  <!-- <div class="row px-5 py-5">
      <div class="mnth-txt col-md-12 px-md-5 text-lightblack">
         <p class="mnt-txt pl-md-5">January 2019</p>
      </div>
      <div class="col-md-12 px-md-5 py-5">
         <div class="row  px-md-5">
            <div class="col-md-3"><img src='../../assets/images/cal1.jpg' class="event-image"></div>
            <div class="col-md-9">
               <div class="evnt-title text-lightblack">Day of Knowledge</div>
               <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
               <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
               <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
               <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
               <div class="evnt-subt-read evnt-sub txt-ligtred">Find Out More</div>
            </div>
         </div>
      </div>
      <div class="col-md-12 px-md-5 py-5">
         <div class="row  px-md-5">
            <div class="col-md-3"><img src='../../assets/images/cal2.jpg' class="event-image"></div>
            <div class="col-md-9">
               <div class="evnt-title text-lightblack">
                  Hello, Autumn!
               </div>
               <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
               <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
               <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
               <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
               <div class="evnt-subt-read evnt-sub txt-ligtred">Find Out More</div>
            </div>
         </div>
      </div>
      <div class="col-md-12 px-md-5 py-5">
         <div class="row  px-md-5">
            <div class="col-md-3"><img src='../../assets/images/cal3.jpg' class="event-image"></div>
            <div class="col-md-9">
               <div class="evnt-title text-lightblack">
                  Day of Love, Family and Fidelity
               </div>
               <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
               <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
               <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
               <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
               <div class="evnt-subt-read evnt-sub txt-ligtred">Find Out More</div>
            </div>
         </div>
      </div>
      <div class="col-md-12 px-md-5 py-5">
         <div class="row  px-md-5">
            <div class="col-md-3"><img src='../../assets/images/teacher-1.jpg' class="event-image"></div>
            <div class="col-md-9">
               <div class="evnt-title text-lightblack">
                  Our Merry Summer!
               </div>
               <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
               <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
               <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
               <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
               <div class="evnt-subt-read evnt-sub txt-ligtred">Find Out More</div>
            </div>
         </div>
      </div>
      <div class="col-md-12 px-md-5 py-5">
         <div class="row  px-md-5">
            <div class="col-md-3"><img src='../../assets/images/cal5.jpg' class="event-image"></div>
            <div class="col-md-9">
               <div class="evnt-title text-lightblack">Birthday Kindergarten</div>
               <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
               <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
               <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
               <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
               <div class="evnt-subt-read evnt-sub txt-ligtred">Find Out More</div>
            </div>
         </div>
      </div>
      <div class="col-md-12 px-md-5 py-5">
         <div class="row  px-md-5">
            <div class="col-md-3"><img src='../../assets/images/cal6.jpg' class="event-image"></div>
            <div class="col-md-9">
               <div class="evnt-title text-lightblack">Let’s All Do Fun Things</div>
               <div class="evnt-sub"><i class="fa fa-clock-o txt-ligtred  pr-3"></i>January 1 - December 31</div>
               <div class="evnt-sub"><i class="fa fa-map-marker txt-ligtred pr-3"></i><span class="txt-ligtred">Central Park </span>, Brooklyn, NY 10036 New York, United States</div>
               <div class="evnt-sub"><i class="fa fa-dollar txt-ligtred pr-3"></i>$10</div>
               <div class="evnt-sub">Cras dapibus ullamcorper dictum. Viva>mus nec erat placerat felis scelerisque porttitor in ac turpis</div>
               <div class="evnt-subt-read evnt-sub txt-ligtred">Find Out More</div>
            </div>
         </div>
      </div>
   </div> -->
   <app-footer></app-footer>
</div>
 
 