
 <div class="container-fluid px-md-0">      
   <app-header></app-header> 

 

   <carousel class="topslide"> 

      <slide>
         <div class="row title-img d-flex justify-content-center align-content-start flex-column animated jackInTheBox animationbanner">
         <div class="colorr p-2 f1 ml-3 pull-right animated bounceInLeft animationelement">A HAPPY BEGINNING</div>     
         <div class="colorr p-2 f2 ml-3 pull-right animated bounceInUp animationelement">Let your child embark on a new journey</div>
         </div> 
      </slide>  

      <slide>  
            <div class="row title-img title-img1 d-flex justify-content-center align-content-start flex-column flipInY animationbanner"> 
                  <div class="colorr p-2 f1 ml-3 pull-right animated bounceInLeft animationelement">We bring up supermen!</div>
                  <div class="colorr p-2 f2 ml-3 pull-right animated bounceInUp animationelement"> Give your kids the best possible start</div>
            </div>  
         </slide> 

         <slide>  
               <div class="row title-img title-img3 d-flex justify-content-center align-content-start flex-column swing animationbanner">
                     <div class="colorr p-2 f1 ml-3 pull-right animated bounceInLeft animationelement">Mindful curriculum</div> 
                     <div class="colorr p-2 f2 ml-3 pull-right animated bounceInUp animationelement">Fun & Engaging learning with a mindful curriculum</div>
               </div>  
            </slide> 

            <slide>  
                  <div class="row title-img title-img4 d-flex justify-content-center align-content-start flex-column heartBeat animationbanner">
                          
                      <div class="colorr p-2 f1 ml-3 pull-right animated bounceInLeft animationelement" >Admission are open </div>
                        <div class="colorr p-2 f2 ml-3 pull-right animated bounceInUp animationelement">Admission 2019-2020</div> 
                        
                        <button class="button-admission pull-right d-flex justify-content-end animated bounceInDown animationelement" routerLink="/contact">Admission open</button>
                     </div>   
               </slide>    


   </carousel>      
  
<!--
<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>
 
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Test
      </div>
    </div>
  </div>
</div>  -->

<div bsModal #lgModal1="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Welcome To The Most Secure Place !</h4>
        <button type="button" class="close" (click)="lgModal1.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <hr class="border-contpop">
      <div class="modal-body model modelcolor">
            <div class="headingpop">TODDLER MONTESSORI</div>  
         A First step to school…so unsure of what it is; leaving behind their only known world  “parents”, a child moves in, with a huge emotional change. What do we give them in return for their courage?
         Our first answer - a warm welcome, with an open hand filled with loads of love and the rest follows when they get settled.
         
       </div>
       <div class="modal-body model2 modelcolor"> 
            <div class="headingpop">PRIMARY MONTESSORI/ CASA</div> 
         Now that our children are little grown-ups, ready to explore and learn from their immediate elders and friends with the help of their absorbent mind, we intend to offer them a more independent mixed age group environment which beholds children between the age group of 2 1/2 and 6 years with the same facilitator for the three year program.
     </div> 
     <div class="modal-body model3 modelcolor">   
       <div class="headingpop">ELEMENTARY ENVIRONMENT</div> 
      The multi-age Montessori Elementary classroom comprises children between age group 6- 12 years encouraging social development with an adult who moderates the process.  Elementary children are interested in reasons, explanations, and the perspective of time; they love grand ideas and lofty concepts— the bigger, the better and are eager to explore. Keeping their physiological and psychological needs in mind the adult offers them individualized and small group lessons and projects.   </div> 
    </div>
  </div>
</div>  

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left"></h4>
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <hr class="border-contpop">
      <div class="modal-body model modelcolor">
         Learning is a craving that a soul seeks everywhere. It’s about comprehensive development of all 5 sensory organs and learning concepts with deeper understanding. 
         Chisel follows Montessori curriculum that is designed around the child. The curriculum falls and fits in response to the child to develop their interest and innate capacities at different developmental stages. We present to them keys of knowledge that layers year upon year in a spiral curriculum over the time they are in Montessori environment.
       </div>
       <div class="modal-body model2 modelcolor"> 
         We, at Chisel provide a child centric program from that allows the child to explore their own personalities encouraging them to find their own true talent. We give these young children time and space to explore child under the care of highly dedicated Montessori trained teachers in a very specialised environment, designed around the child. The indoor and outdoor environment encourages the children to grow their social interest by giving them freedom to move within limits, and structure to concentrate and challenge themselves with lots of engaging activities which is made of natural materials keeping in our mind child’s sensitive periods.
     </div> 
     <div class="modal-body model3 modelcolor">   
     We have created a co- dependent system wherein children learn from each other by observing elder children and getting guidance from them meanwhile getting an opportunity to guide younger ones. We trust, respect and follow the child to suit his/ her needs to become motivated learners, who can self-evaluate.
   </div> 
    </div>
  </div>
</div>  

 
  
<div bsModal #lgModal2="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Chisel</h4>
        <button type="button" class="close" (click)="lgModal2.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button> 
      </div>
      <hr class="border-contpop">
     <!-- <div class="modal-body model modelcolor">
       </div> -->
       <div class="modal-body model2 modelcolor"> 
         We, at Chisel provide a child centric program from that allows the child to explore their own personalities encouraging them to find their own true talent. We give these young children time and space to explore child under the care of highly dedicated Montessori trained teachers in a very specialised environment, designed around the child. The indoor and outdoor environment encourages the children to grow their social interest by giving them freedom to move within limits, and structure to concentrate and challenge themselves with lots of engaging activities which is made of natural materials keeping in our mind child’s sensitive periods.
     </div> 
     <div class="modal-body model3 modelcolor">   
     We have created a co- dependent system wherein children learn from each other by observing elder children and getting guidance from them meanwhile getting an opportunity to guide younger ones. We trust, respect and follow the child to suit his/ her needs to become motivated learners, who can self-evaluate.
   </div> 
    </div>
  </div>
</div>  

<!--Next slide-->
<div bsModal #lgModal3="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">OUR VISION</h4>
        <button type="button" class="close" (click)="lgModal3.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>  
      </div>
      <hr class="border-contpop">
     <!-- <div class="modal-body model modelcolor">
       </div> -->
       <div class="modal-body model2 modelcolor"> 
            Our vision is to work in the tradition of DR. Maria Montessori’s principles to provide a safe learning environment for children that foster personal and academic growth, independence, confidence and a sense of responsibility for self and the community and joyful lifelong learning.      </div> 
     <div class="modal-body model3 modelcolor">   
         Mrs G BRINDA SUNDAR - The Founder & Principal
         A post graduate in Science who aspires to contribute in developing a better future generation by shaping the younger minds. She started her journey by coaching students for All India Medical Exams, NTSE, CET, AIEEE and more since 2007. 
         Her vision to keep children closely connected to nature began with her association to “Kiddies World Play School” in June 2013 which followed the principles of integrated methodology (Montessori, Kindergarten & Nursery).
         It was during this phase that she felt the necessity for change in the education system and started a Montessori school which will unwrap the world to the children; exposing them to its flawless beauty, wonders and promises, helping them to become all of who they want to be and a better human being.
         She equipped herself as a certified Montessori primary practitioner for the age group of 3-6 from the International Montessori Society in the year 2015, elementary practitioner for the age group of 6-12 years from Indian Montessori center in the year 2017 and has pursued certification in infancy and parenting program under Relief foundation in the year 2019.
            </div> 
    </div>
  </div>
</div> 

<div bsModal #lgModal4="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Chisel</h4>
        <button type="button" class="close" (click)="lgModal4.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>  
        </button>  
      </div>
      <hr class="border-contpop">
     <!-- <div class="modal-body model modelcolor">
       </div> -->
       <div class="modal-body model2 modelcolor"> 
            Our mission is to offer complete continuum of Montessori education from birth to 18 years of age   </div> 
     <div class="modal-body model3 modelcolor">   
         <div class="headingpop">OUR TEAM</div> 
         We together with our other dedicated Montessori trained colleagues
         At Nanganallur - Mrs. Sukanya Muralidharan, Mrs. Dhivya Arun, Ms. Subhasree Murali, Mrs. Ramya Rajagopal, Mrs. Gayathri, Mrs. Preetha Ponnurangam and several professional skilled part timers.
         At Thiruvallur- Ms. Aarthi Rajendran, Mr.  Sandip Kumar and most importantly PARENTS who are an integral part of our system, intend to give the society soulful children, who will change the world’s vision towards education with their values and concepts.
            </div> 

            <div class="modal-body model3 modelcolor">   
            <div class="headingpop">CORRESPONDANT</div>              
            Mr. Muruga Sundaram, a graduate in Civil Engineering, has always been a determined individual to give the society a quality education. He has been the backbone of Chisel ever since it started. He has dedicated himself to build this institution that would serve the child and help the child to create a peaceful society.
            </div> 

</div>
  </div>
</div>

<div bsModal #lgModal5="bs-modal" class="modal fade" tabindex="-1" 
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">LEARNING</h4>
        <button type="button" class="close" (click)="lgModal5.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>   
        </button>  
      </div> 
      <hr class="border-contpop">
     <!-- <div class="modal-body model modelcolor">
       </div> -->
       <div class="modal-body model2 modelcolor"> 
            Learning is a craving that a soul seeks everywhere. It’s about comprehensive development of all 5 sensory organs and learning concepts with deeper understanding. 
            Chisel follows Montessori curriculum that is designed around the child. The curriculum falls and fits in response to the child to develop their interest and innate capacities at different developmental stages. We present to them keys of knowledge that layers year upon year in a spiral curriculum over the time they are in Montessori environment.
                 </div> 
     <div class="modal-body model3 modelcolor">   
     We have created a co- dependent system wherein children learn from each other by observing elder children and getting guidance from them meanwhile getting an opportunity to guide younger ones. We trust, respect and follow the child to suit his/ her needs to become motivated learners, who can self-evaluate.
   </div> 
    </div>
  </div>
</div>

  <div class="row text-center info-wrp"> 

     <div class="col-md-6 box-1 cl1">
        <h6>Location</h6>
        <br>
        <p>No :19, 29th St, Nanganallur, Chennai, Tamil Nadu 600061</p>
   <p>Get Direction</p>
     </div>
     <div class="col-md-6 box-2 cl2">
        <h6>Hour of Operation</h6>
        <br>
        <p>Open from 9AM to 5PM, Monday through Friday. 6 different programs are available for all age groups</p>
      <a [routerLink]="['./class']" class="link-col"><p>Visit Different Programs</p></a> 
     </div>
  </div>
  <div class="content row text-center  ">
     <div class="col-md-4 mb-2">
        <img src="assets/images/tod1.png" class="todimg">
        <p class="tod-txt">TODDLER MONTESSORI</p>
        <p class="tod-sub-txt">(12 months – 23 months)</p>
     </div>
     <div class="col-md-4 mb-2">
        <img src="assets/images/tod2.png" class="todimg">
        <p class="tod-txt">PRIMARY MONTESSORI/CASA</p>
        <p class="tod-sub-txt">(2 1/2 and 6 years)</p>
     </div>
     <div class="col-md-4 mb-2">
        <img src="assets/images/tod3.png" class="todimg">
        <p class="tod-txt"> ELEMENTARY ENVIRONMENT</p> 
        <p class="tod-sub-txt">(6- 12 years)</p>
     </div>
    <!-- <div class="col-md-3 mb-2">
        <img src="assets/images/tod4.png" class="todimg">
        <p class="tod-txt">Pre-K</p>
        <p class="tod-sub-txt">(Pre-K For All)</p>
     </div> -->
  </div>
  <hr class="border-cont">
  <div class="row text-center pt-5 ml-md-5 mr-md-5" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
     <div class="col-md-6 pl-md-5 cont-img1 zoom">
     </div>
     <div class="col-md-6  px-0 pl-5" >
        <p class="img-desc  text-lightblack">Chisel</p> 
        <p class="text-lightblack pt-1 mb-0">Learning is a craving that a soul seeks everywhere. It’s about comprehensive development of all 5 sensory organs and learning concepts with deeper understanding. 
            </p>  

         <p class="text-lightblack pt-1 ">
            Chisel follows Montessori curriculum that is designed around the child. The curriculum falls and fits in response to the child to develop their interest and innate capacities at different developmental stages. We present to them keys of knowledge that layers year upon year in a spiral curriculum over the time they are in Montessori environment.
         </p>

        <!-- <button class="shedule-btn" (click)="lgModal1.show()">Read More</button>   -->
     </div>
      <!--<div class="col-md-2"></div>  -->
  </div>
  <div class="row text-center  ml-md-5 mr-md-5 flex-column-reverse flex-md-row"  data-aos="fade-left" data-aos-offset="300" data-aos-duration="1500">
     <div class="col-md-6  pr-5">
        <p class="img-desc pt-3 text-lightblack">About us</p>
        <p class="text-lightblack pt-1 mb-0">We, at Chisel provide a child centric program that allows the child to explore their own personalities encouraging them to find their own true talent. We give these young children time and space to explore under the care of highly dedicated Montessori trained teachers in a very specialised environment, designed around the child. The indoor and outdoor environment encourages the children to grow their social interest by giving them freedom to move within limits, and structure to concentrate and challenge themselves with lots of engaging activities which is made of natural materials keeping in our mind child’s sensitive periods. </p>
           <p class="text-lightblack pt-1">We have created a co- dependent system wherein children learn from each other by observing elder children and getting guidance from them meanwhile getting an opportunity to guide younger ones. We trust, respect and follow the child to suit his/ her needs to become motivated learners, who can self-evaluate.</p>
        <!-- <button class="shedule-btn" (click)="lgModal.show()">Read more</button>  -->
     </div>
     <div class="col-md-6 pl-md-5 cont-img2 zoom mb-3">
     </div>
       <!-- <div class="col-md-2"></div> -->
  </div>

  <!--
  <div class="row text-center mb-4 ml-md-5" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1500">
      <div class="col-md-5 pl-md-5 cont-img3 zoom"> 
      </div>
      <div class="col-md-5  px-5">
         <p class="img-desc  text-lightblack">Chisel</p>  
         <p class="text-lightblack pt-1">We, at Chisel provide a child centric program from that allows the child to explore their own personalities encouraging them to find their own true talent. We give these young children time and space to explore child under the care of highly dedicated Montessori trained teachers in a very specialised environment, designed around the child. </p> 
         <button class="shedule-btn" (click)="lgModal2.show()">Read More</button>  
      </div> 
      <div class="col-md-2"></div> 
   </div> -->
   
  <hr class="border-cont">


  <section class="junior__gallery__area bg--white section-padding--lg" data-aos="fade-up" data-aos-offset="300" data-aos-duration="2500">
        <div class="container">
           <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12">
                 <div class="section__title text-center">
                    <h2 class="title__line">Our Gallery</h2> 
                    <p>We, at Chisel provide a child centric program from that allows the child to explore their own personalities encouraging them to find their own true talent. </p> 
                 </div>
              </div>
           </div>
           <div class="row galler__wrap mt--40">
              <!-- Start Single Gallery -->
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                 <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="gallery__thumb">
                       <a href="#">
                          <img src="../assets/images/rsznew.png" alt="gallery images">  
                       </a>
                    </div>
                    <div class="gallery__hover__inner">
                       <div class="gallery__hover__action">
                          <ul class="gallery__zoom"> 
                          </ul>
                          <h4 class="gallery__title"><a href="#">Creating Funny Things</a></h4>
                       </div>
                    </div>
                 </div>	
              </div>	
              <!-- End Single Gallery -->
              <!-- Start Single Gallery -->
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                 <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="gallery__thumb">
                       <a href="#">
                          <img src="../assets/images/rsznw2.png" alt="gallery images">
                       </a>
                    </div>
                    <div class="gallery__hover__inner">
                       <div class="gallery__hover__action">
                          <ul class="gallery__zoom">
                          </ul>
                          <h4 class="gallery__title"><a href="#">Creating Funny Things</a></h4>
                       </div>
                    </div>
                 </div>	
              </div>	
              <!-- End Single Gallery -->
              <!-- Start Single Gallery -->
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                 <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="gallery__thumb">
                       <a href="#">
                          <img src="../assets/images/rsznew3.png" alt="gallery images">
                       </a> 
                    </div> 
                    <div class="gallery__hover__inner">
                       <div class="gallery__hover__action">
                          <ul class="gallery__zoom">
                          </ul>
                          <h4 class="gallery__title"><a href="#">Creating Funny Things</a></h4>
                       </div>
                    </div>
                 </div>	
              </div>	
              <!-- End Single Gallery -->
              <!-- Start Single Gallery -->
        
         <!--      <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                 <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="gallery__thumb">
                       <a href="#">
                          <img src="../assets/images/a4.jpg" alt="gallery images">
                       </a>
                    </div>
                    <div class="gallery__hover__inner">
                       <div class="gallery__hover__action">
                          <ul class="gallery__zoom">
                             <li><a href="images/gallery/big-img/a4.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
                             <li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
                          </ul>
                          <h4 class="gallery__title"><a href="#">Creating Funny Things</a></h4>
                       </div>
                    </div>
                 </div>	
              </div>	-->	
              
              <!-- End Single Gallery -->
              <!-- Start Single Gallery -->
           
          <!--    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                 <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="gallery__thumb">
                       <a href="#">
                          <img src="../assets/images/a5.jpg" alt="gallery images">
                       </a>
                    </div>
                    <div class="gallery__hover__inner">
                       <div class="gallery__hover__action">
                          <ul class="gallery__zoom">
                             <li><a href="images/gallery/big-img/a5.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
                             <li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
                          </ul>
                          <h4 class="gallery__title"><a href="#">Creating Funny Things</a></h4>
                       </div>
                    </div>
                 </div>	
              </div>  -->	
              
              <!-- End Single Gallery -->
              <!-- Start Single Gallery -->
              
           <!--	<div class="col-lg-4 col-md-6 col-sm-6 col-12">
                 <div class="gallery wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="gallery__thumb">
                       <a href="#">
                          <img src="../assets/images/a6.jpg" alt="gallery images">
                       </a>
                    </div>
                    <div class="gallery__hover__inner">
                       <div class="gallery__hover__action">
                          <ul class="gallery__zoom">
                             <li><a href="images/gallery/big-img/a6.jpg" data-lightbox="grportimg" data-title="My caption"><i class="fa fa-search"></i></a></li>
                             <li><a href="gallery-details.html"><i class="fa fa-link"></i></a></li>
                          </ul>
                          <h4 class="gallery__title"><a href="#">Creating Funny Things</a></h4>
                       </div>
                    </div>
                 </div>	
              </div>	  -->
              
              <!-- End Single Gallery -->
              
           </div>	
           <div class="readmore  d-flex justify-content-center my-3">
                 <a  routerLink="/event" class="readmorbtn">Read more</a>
              </div>
        </div>
     </section>

  <!--
  <div class="row cal-bg pt-5">
     <div class="col-md-12">
        <div class="row   px-5">
           <div class="col-md-12 my-5 text-center">
              <p class="img-desc text-light">Events Calendar</p>
           </div>
           <div class="col-md-1">
              <p class="date-txt">01</p>
           </div>
           <div class="col-md-2">
              <p class="month-text">January</p>
              <p class="month-text-sub">Tuesday</p>
           </div>
           <div class="col-md-2"><img src="assets/images/cal1.jpg" class="img-txt"></div>
           <div class="col-md-4">
              <p class="month-txt-large">
                 Day of Knowledge
              </p>
              <p class="month-text">New York</p>
              <p class="month-text-sub">January 1 - December 31</p>
           </div>
           <div class="col-md-3"><button class="read-more">Read More</button></div>
           <hr class="border-thin">
           <div class="col-md-1">
              <p class="date-txt">20</p>
           </div>
           <div class="col-md-2">
              <p class="month-text">January</p>
              <p class="month-text-sub">Sunday</p>
           </div>
           <div class="col-md-2"><img src="assets/images/cal2.jpg" class="img-txt"></div>
           <div class="col-md-4">
              <p class="month-txt-large">
                 Hello, Autumn!
              </p>
              <p class="month-text">New York</p>
              <p class="month-text-sub">January 1 - December 31</p>
           </div>
           <div class="col-md-3"><button class="read-more">Read More</button></div>
           <hr class="border-thin">
           <div class="col-md-1">
              <p class="date-txt">20</p>
           </div>
           <div class="col-md-2">
              <p class="month-text">January</p>
              <p class="month-text-sub">Sunday</p>
           </div>
           <div class="col-md-2"><img src="assets/images/cal3.jpg" class="img-txt"></div>
           <div class="col-md-4">
              <p class="month-txt-large">
                 Day of Love, Family and Fidelity
              </p>
              <p class="month-text">New York</p>
              <p class="month-text-sub">January 1 - December 31</p>
           </div>
           <div class="col-md-3"><button class="read-more mb-3">Read More</button></div>
        </div>
     </div>
  </div> -->

<div class="offer-tabs" data-aos="zoom-in-left"  data-aos-easing="ease-in-back"   data-aos-delay="1000"   data-aos-offset="300" data-aos-duration="1000">
<div class="offer-section">
<div class="container">   
  <div class="row">
     <div class="text-center img-desc py-4 text-lightblack">What We Offer</div>
     <div class="col-md-12 text-center tab-pull-right">
        <ul class="nav nav-tabs offersectiontab" role="tablist">
           <li class="nav-item">
              <a class="nav-link active tab-txt" data-toggle="tab" href="#home">Commitments</a>
           </li>
           <li class="nav-item">
              <a class="nav-link tab-txt" data-toggle="tab" href="#menu1">Activities</a>
           </li>
           <li class="nav-item">
              <a class="nav-link tab-txt" data-toggle="tab" href="#menu2">Outing</a>
           </li>
           <li class="nav-item">
              <a class="nav-link tab-txt" data-toggle="tab" href="#menu3">Programs</a>
           </li>
           <li class="nav-item">
              <a class="nav-link tab-txt" data-toggle="tab" href="#menu4">Our Club</a>
           </li>
        </ul>
        <div class="tab-content bg-light">
           <div id="home" class=" tab-pane active  pl-5 text-left">
              <br>
              <hr class="border-short">
              <div class="row">
                 <div class="col-md-5">
                    <p class="nav-tab-head">The Commitment</p>
                    <p class="text-lightblack">
                       We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                    </p>
                   <!-- <p class="learn-link">Learn More</p>  -->
                 </div>
                 <div class="col-md-7">
                    <img src="assets/images/lndscp13.png" class="tab-img">
                 </div>
              </div>
           </div>
           <div id="menu1" class=" tab-pane fade  pl-5 text-left">
              <br>
              <hr class="border-short">
              <div class="row">
                 <div class="col-md-5">
                    <p class="nav-tab-head">
                       Activities
                    </p>
                    <p class="text-lightblack">
                       We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                    </p>
                   <!-- <p class="learn-link">Learn More</p>  -->
                 </div>
                 <div class="col-md-7">
                    <img src="assets/images/lndscp4.png" class="tab-img">
                 </div>  
              </div>
           </div>
           <div id="menu2" class=" tab-pane fade  pl-5 text-left">
              <br>
              <hr class="border-short">
              <div class="row">
                 <div class="col-md-5">
                    <p class="nav-tab-head">
                       Outings
                    </p>
                    <p class="text-lightblack">
                       We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                    </p>
                   <!-- <p class="learn-link">Learn More</p>  -->
                 </div>
                 <div class="col-md-7">
                    <img src="assets/images/lndscp11.png" class="tab-img"> 
                 </div>
              </div>
           </div>
           <div id="menu3" class=" tab-pane fade  pl-5 text-left">
              <br>
              <hr class="border-short">
              <div class="row">
                 <div class="col-md-5">
                    <p class="nav-tab-head">
                       Programs
                    </p>
                    <p class="text-lightblack">
                       We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                       The program is aimed at the mental and creative development of children – from junior groups to preparation for school.
                    </p>
                  <!--  <p class="learn-link">Learn More</p>  --> 
                 </div>
                 <div class="col-md-7">
                    <img src="assets/images/lndscp14.png" class="tab-img">
                 </div>  
              </div>
           </div>
           <div id="menu4" class=" tab-pane fade  pl-5 text-left">
              <br>
              <hr class="border-short">
              <div class="row">
                 <div class="col-md-5">
                    <p class="nav-tab-head">
                       Our Club
                    </p>
                    <p class="text-lightblack">
                       We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                       The program is aimed at the mental and creative development of children – from junior groups to preparation for school.
                    </p>
                    <!-- <p class="learn-link">Learn More</p> --> 
                 </div>
                 <div class="col-md-7">
                    <img src="assets/images/lndscp12.png" class="tab-img">
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
 </div>
</div>
</div>

  <hr class="border-cont" >
  <div class="row activity-wrp text-center" data-aos="flip-left" data-aos-offset="500"    data-aos-easing="ease-out-cubic"     data-aos-duration="3000">
     <div class="col-md-12 mb-4">
        <p   class="img-desc pt-2 text-lightblack text-center">Our Activities</p>
     </div>
     <div class="col-md-4 mb-3">
        <div class="row ">
           <div class="col-md-3 ">
              <i class="fa fa-paint-brush activity-icon"></i>
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Refining senses</div> 
              <div class="act-txt-sub text-md-left ">Children learn to paint</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <img src = "assets/images/puppet.png" class="activity-icon">
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Everyday living</div> 
              <div class="act-txt-sub text-md-left ">What you don’t have at home</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <i class="fa fa-futbol-o activity-icon"></i>
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Art and Craft</div> 
              <div class="act-txt-sub text-md-left ">What kind of toys your kid prefer?</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <img src = "assets/images/beetle.png" class="activity-icon">
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Cultural science</div> 
              <div class="act-txt-sub text-md-left ">Our secret area education ways</div> 
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <img src = "assets/images/mike.png" class="activity-icon">
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">interactive science experiments</div> 
              <div class="act-txt-sub text-md-left ">Everybody loves child’s singing</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <i class="fa fa-bell activity-icon"></i>
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Language development</div> 
              <div class="act-txt-sub text-md-left ">How many stories our teacher knows?</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <img src = "assets/images/sandbox.png" class="activity-icon">
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Arithmetic</div> 
              <div class="act-txt-sub text-md-left ">All year round we enjoy sand</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <img src = "assets/images/icecream.png" class="activity-icon">
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Geometry</div> 
              <div class="act-txt-sub text-md-left ">Where learning is a serious fun</div>
           </div>
        </div>
     </div>
     <div class="col-md-4 mb-5">
        <div class="row ">
           <div class="col-md-3 ">
              <img src = "assets/images/sun-umbrella.png" class="activity-icon">
           </div>
           <div class="col-md-9 text-lightblack">
              <div class="act-txt text-md-left">Nature walk</div> 
              <div class="act-txt-sub text-md-left ">Imagine various water activities</div>
           </div>
        </div>
     </div>
  </div>

  <hr class="border-cont">
  <div class="row  px-md-5 text-center" data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500">
     <div class="col-md-6 bg5 py-5  px-5"> 
        <div class="img-desc text-light pt-4">OUR VISION</div> 
        <p class="sub-txt">Our vision is to work in the tradition of DR. Maria Montessori’s principles to provide a safe learning environment for children that foster personal and academic growth, independence, confidence and a sense of responsibility for self and the community and joyful lifelong learning. 
           <!--  <span class="pink">Mrs G BRINDA SUNDAR - The Founder & Principal </span> -->

      </p>  
         <!-- <button class="learn-more" (click)="lgModal3.show()">Learn More</button>   -->  
     </div>
     <div class="col-md-6 student_img">
     </div>
  </div>

  <div class="row  px-md-5 text-center" data-aos="fade-right" data-aos-offset="500" data-aos-duration="1500">
      <div class="col-md-6 student_img1 student_img1"> 
         </div>
      <div class="col-md-6 bg5 py-5  px-5">
         <div class="img-desc text-light pt-5">OUR MISSION</div> 
         <p class="sub-txt">Our mission is to offer complete continuum of Montessori education from birth to 18 years of age.
               
         </p>  
          <!-- <button class="learn-more" (click)="lgModal4.show()">Learn More</button>    --> 
      </div>
   </div> 
<!--
   <div class="row  px-md-5 text-center" data-aos="fade-left" data-aos-offset="500" data-aos-duration="1500">
         <div class="col-md-6 bg5 py-5  px-5">
            <div class="img-desc text-light pt-5">LEARNING</div>  
            <p class="sub-txt">Learning is a craving that a soul seeks everywhere. It’s about comprehensive development of all 5 sensory organs and learning concepts with deeper understanding. 
                  Chisel follows Montessori curriculum that is designed around the child.
            </p>
             <button class="learn-more" (click)="lgModal5.show()">Learn More</button>     
         </div>
         <div class="col-md-6 student_img2">
         </div>
      </div>  -->

  <div class="row  text-center" data-aos="zoom-in" data-aos-offset="500" data-aos-duration="3000">
     <div class="col-md-12 mb-4 ">
        <p  class="img-desc pt-4 pb-1     text-lightblack text-center">About the Teachers</p>
        <div class="sub-txt-techer techh">We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</div>
     </div>
     <div class="col-md-2"></div>
     <div class="col-md-3 teacher-wrp px-md-3">
        <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
        <div  class="teacher-profile tch1" ><div class="bg-cont"></div></div>
        <div class="teacher-wrp-info">
           <div class="act-txt pt-1 text-lightblack">Alice Bohm</div>
           <div   class="act-txt-sub text-lightblack ">Senior Educator-Staff</div>
        </div>
     </div>
     <div class="col-md-3 teacher-wrp px-md-3">
        <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
        <div  class="teacher-profile tch2" ><div class="bg-cont"></div></div>
        <div class="teacher-wrp-info">
           <div class="act-txt text-lightblack">Alice Bohm</div>
           <div   class="act-txt-sub text-lightblack ">Music Teacher-Staff</div>
        </div>
     </div>
     <div class="col-md-3 teacher-wrp px-md-3">
        <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
        <div  class="teacher-profile tch3" ><div class="bg-cont"></div></div>
        <div class="teacher-wrp-info">
           <div class="act-txt text-lightblack">Max Turner</div>
           <div   class="act-txt-sub text-lightblack ">Art Teacher-Staff</div>
        </div>
     </div>
     <div class="col-md-1"></div>
    <!-- <div class="col-md-12 text-center py-4 mb-2">
        <button class="v-more">View More</button>
     </div> -->
  </div>
  <div class="row text-center admission-wrp py-md-5"    data-aos="fade-down" data-aos-offset="500" data-aos-duration="3000"> 
     <div class="col-md-4"></div>
     <div class="col-md-4" data-aos-offset="500" data-aos="flip-left"  data-aos-easing="ease-out-cubic" data-aos-duration="3000">
        <p   class="img-desc pt-5 mt-5 text-light">What About Admission ?</p>
        <p   class="month-text"><span class="calluss mr-2">Call Us</span> <span class="number">9838927232</span></p>
        <button  class="more-inf mt-3 mb-3" [routerLink]=" ['./contact']">Admisssion open</button> 
     </div> 
     <div class="col-md-4"></div>
  </div>

  <!--
  <div class="row text-center px-5 py-3 count-wrap text-light numberanimate">
     <div class="col-md-2"> </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_01.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info"  data-count="450">0</div>
        <p class="sub-txt-count">CHILDREN A YEAR</p>
     </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_02.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info" data-count="68">0</div>
        <p class="sub-txt-count">QUALIFIED TEACHERS</p>
     </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_03.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info"  data-count="349">0</div>
        <p class="sub-txt-count">ACTIVITIES A YEAR</p>
     </div>
     <div class="col-md-2 pt-5">
        <img src="assets/images/icon_04.png" class="count-img">
        <hr class="border-x-short">
        <div class="count-info"  data-count="12">0</div>
        <p class="sub-txt-count">FROM TWELVE MONTHS</p>
     </div>
     <div class="col-md-2"> </div>
  </div> -->

  <div class="row text-center px-md-5">
     <div class="col-md-12">
        <p  class="img-desc py-3 mb-0  text-lightblack text-center">From the Blog</p>
        <hr class="border-cont contentt">    
     </div>
     <div class="col-md-6 text-lightblack text-md-left pl-md-5 mb-4" data-aos="fade-right" data-aos-offset="300" data-aos-duration="2500"> 
       <div class="blogbackgr">  
        <img src="assets/images/i11.jpg" class="blog_img">
        <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 6, 2018 <i class="fa fa-edit"></i></div>
        <div class="blog-txt2">independence day</div> 
       <!-- <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>  -->
        <div class="blog-txt1 pt-2 pb-2">Elementary — what do we say about it in a word 🙂 age of grandeur, they are always up to something that we can never expect .. so for us it was not just an independence day, it was a day were they wanted to show to the world that they are proud to be Indians .., they read in a book that when a person achieves something for the first time or something which no one else has achieved , it’s a proud moment for their country , and that they hoist national flag there, and there it all got started</div>
       <!-- <div class="lean-more-blog">Learn More</div>  -->
      </div> 
     </div>
     <div class="col-md-6 text-lightblack text-md-left pr-md-5 mb-4" data-aos="fade-left" data-aos-offset="300" data-aos-duration="2500">
         <div class="blogbackgr">  
        <img src="assets/images/w1.jpg" class="blog_img">
        <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 27, 2018<i class="fa fa-edit"></i></div>
        <div class="blog-txt2">workshop</div>
        <!--  <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>   --> 
        <div class="blog-txt1 pt-2 pb-2">Inspired by a workshop that we teachers attended , we extended the same to our parents , to help them understand how children read and write in a Montessori elementary classroom where there is no rote writing nor there is any prescribed text books , so it all started very beautifully the discussions started on choosing the work , how to organise , data collection , time management, acceptance , tolerance , self learning , build confidence and their team work helped them to keep going till the end ( Final presentation) .</div>
        <!-- <div class="lean-more-blog">Learn More</div> -->
         </div> 
     </div>
  </div>
 <!-- <hr class="border-cont">   --> 
<div class="fullcontentbg">   
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
     <!-- Carousel indicators --> 
     <!-- Wrapper for carousel items -->
     <div class="carousel-inner" data-aos="flip-left" data-aos-offset="500"    data-aos-easing="ease-out-cubic"     data-aos-duration="3000">
         <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class=""><i class="fa fa-circle indicator-ico" ></i></li>
               <li data-target="#myCarousel" data-slide-to="1" class="active"><i class="fa fa-circle indicator-ico" ></i></li>
               <li data-target="#myCarousel" data-slide-to="2" class=""><i class="fa fa-circle indicator-ico" ></i></li>
            </ol>  
         <div class="row text-center">
               <div class="col-md-12">
                  <p   class="img-desc mt-1  text-lightblack text-center">What Parents Say </p>
               </div>
            </div>
        <div class="item carousel-item active left">
           <div class="img-box"><img src="assets/images/1.jpg" alt="" class="car-img"></div>
           <p class="testimonial">"Chisel is a good school to start your kids education. They give lot  attention for kids overall development. Kids have lot of practical things to do. Too friendly teachers and the best part kids love to go to school"</p>
           <p class="parent-txt text-lightblack">Kavitha Subramanian </p>
           <p class="parent-inf">Mother</p>
        </div>
        <div class="item carousel-item next left">
           <div class="img-box"><img src="assets/images/2.jpg" class="car-img"  alt=""></div>
           <p class="testimonial">" Its a best place to start the schooling for kids.. Kids love to go school and teachers have good patience and make kids learn... All to say it's a wow place!!!!"</p>
           <p class="parent-txt text-lightblack">Deepa Aravindh</p>
           <p class="parent-inf">Mother</p>
        </div>
        <div class="item carousel-item">
           <div class="img-box"><img src="assets/images/3.jpg" class="car-img" alt=""></div>
           <p class="testimonial">" Friendly atmosphere for teachers n parents too... Individual care for each student.. teaching methodology is too good..."</p>
           <p class="parent-txt text-lightblack">Abirami Gavyaa</p> 
           <p class="parent-inf">Father</p> 
        </div>
     </div>
     <!-- Carousel controls -->
     <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
     <i class="fa fa-angle-left"></i>
     </a>
     <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
     <i class="fa fa-angle-right"></i>
     </a>
  </div> 

</div> 
  <app-footer></app-footer>
</div>
 