<div class="container-fluid px-md-0"> 
    <app-header></app-header> 
    <div class="row">
        <div class="col-md-12 text-center pg-title-img  classroomimg" >
            <p class="pg-title">Our team</p>
         </div>
 

         <div class="row text-center" data-aos="zoom-in" data-aos-offset="100" data-aos-duration="1500">
            <div class="col-md-12 mb-4 ">  
               <p  class="img-desc pt-4  text-lightblack text-center">About the Teachers</p>
               <div class="sub-txt-techer techh">We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</div>
            </div>
            <div class="col-md-1 ml-md-5"></div>
            <div class="col-md-3 teacher-wrp px-md-3">
               <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
               <div  class="teacher-profile tch4" ><div class="bg-cont"></div></div>
               <div class="teacher-wrp-info">
                  <div class="act-txt pt-1 text-lightblack">Alice Bohm</div>
                  <div   class="act-txt-sub text-lightblack ">Senior Educator-Staff</div>
               </div>
            </div>
            <div class="col-md-3 teacher-wrp px-md-3">
               <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
               <div  class="teacher-profile tch5" ><div class="bg-cont"></div></div>
               <div class="teacher-wrp-info">
                  <div class="act-txt text-lightblack">Alice Bohm</div>
                  <div   class="act-txt-sub text-lightblack ">Music Teacher-Staff</div>
               </div>
            </div>
            <div class="col-md-3 teacher-wrp px-md-3">
               <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
               <div  class="teacher-profile tch6" ><div class="bg-cont"></div></div>
               <div class="teacher-wrp-info">
                  <div class="act-txt text-lightblack">Max Turner</div>
                  <div   class="act-txt-sub text-lightblack ">Art Teacher-Staff</div>
               </div>
            </div>
            <div class="col-md-1"></div>

          <!--  <div class="col-md-12 text-center py-md-3">
            </div>  -->

            <div class="col-md-12 mb-4 ">  
               <p  class="img-desc pt-4 mb-0  text-lightblack text-center">MANAGEMENT TEAM</p>
               <p  class="img-desc pt-1 text-lightblack text-center fontsz">Mrs G BRINDA SUNDAR - The Founder & Principal</p>
               <div class="sub-txt-techer techh paddourtm mb-2">A post graduate in Science who aspires to contribute in developing a better future generation by shaping the younger minds. She started her journey by coaching students for All India Medical Exams, NTSE, CET, AIEEE and more since 2007. </div>
               <div class="sub-txt-techer techh paddourtm mb-2">Her vision to keep children closely connected to nature began with her association to “Kiddies World Play School” in June 2013 which followed the principles of integrated methodology (Montessori, Kindergarten & Nursery). </div>
               <div class="sub-txt-techer techh paddourtm mb-2">It was during this phase that she felt the necessity for change in the education system and started a Montessori school which will unwrap the world to the children; exposing them to its flawless beauty, wonders and promises, helping them to become all of who they want to be and a better human being. </div>
               <div class="sub-txt-techer techh paddourtm mb-2">She equipped herself as a certified Montessori primary practitioner for the age group of 3-6 from the International Montessori Society in the year 2015, elementary practitioner for the age group of 6-12 years from Indian Montessori center in the year 2017 and pursued infancy and parenting program under Mrs. Vidhya Shankar, in the year 2019. </div>

               <p  class="img-desc pt-2 mb-0  text-lightblack text-center fontsz">CORRESPONDANT</p>
               <div class="sub-txt-techer techh paddourtm mb-2 mt-2">Mr. Muruga Sundaram, a graduate in Civil Engineering, has always been a determined individual to give the society a quality education. He has been the backbone of Chisel ever since it started. He has dedicated himself to build this institution that would serve the child and help the child to create a peaceful society. </div>

               <p  class="img-desc pt-2 mb-0  text-lightblack text-center fontsz">OUR TEAM</p>
               <div class="sub-txt-techer techh paddourtm mb-2 mt-2">We together with our other dedicated Montessori trained colleagues
                  At Nanganallur - Mrs. Sukanya Muralidharan, Mrs. Dhivya Arun, Ms. Subhasree Murali, Mrs. Ramya Rajagopal, Mrs. Gayathri several professional skilled part timers.
                  At Thiruvallur- Ms. Aarthi Rajendran, Mr.  Sandip Kumar and most importantly PARENTS who are an integral part of our system, intend to give the society soulful children, who will change the world’s vision towards education with their values and concepts.
                   </div>


            </div>


         </div>








 </div>
    <app-footer></app-footer>
 </div>
    